body{
  background-color:#AAA;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Helvetica';
}
#game{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color:white;
  border:0.5vmin solid #333;
  height: 75vh;
  aspect-ratio: 1;
  display:grid;
  grid-template-columns: repeat(var(--height),calc(75.5vmin / var(--height)));
  grid-template-rows: repeat(var(--width),calc(75.5vmin / var(--width)));
}
.cell{
  grid-column-start: var(--x);
  grid-column-end: var(--x);
  grid-row-start: var(--y);
  grid-row-end: var(--y);
}
.snake{
  background-color:black;
}
.fruit{
  background-color:red;
}
#status{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  height: 76vh;
  aspect-ratio: 1;
  margin:0px;
  text-align:center;
  color:white;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}
#restartbutton{
  position: absolute;
  top:55%;
  left:50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  z-index: 1;
  width: 5vw;
  height: 3vh;
  border-radius: 5px;
  font-size: 1.5vmin;
  border: 0.25vmin solid #AAA;
}
#counter{
  font-weight: bold;
  font-size: 5vmin;
  margin: 2vmin 0 0 2vmin;
}
#statustext{
  font-size: 10vmin;
}
#pointstext{
  font-size: 4vmin;
}